
body{
	width: 100%;
	background: black;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	background-image: radial-gradient(ellipse farthest-corner at 150px 150px , #424242 0%, rgba(0, 0, 255, 0) 50%, black 15%);
} 

.header__ul{
	-webkit-transition:-webkit-transform 0.2s ease-in-out 0.1s;
}

.header__ul:hover{
    -webkit-transform: scale(1.1);
}

.header{
  text-align: center;
  margin-top: 25px;
  padding-bottom: 25px;
}

.header__logo{
  width: 100px;
  border-radius: 10px;
  right: 185px;
  bottom: 50px;
 }

.bordes{
	border-radius: 10px;
}

.buscador{
	margin: 20px 1px 5px 25px;
  width: 50%;
  padding: 4px 10px;
}

h1{
	color: white ;
}

.article__parrafo{
	color: white;
  text-align: center;
  padding: 30px 0;
}

nav{
	text-align: center;
}

nav li{
	display: inline;
	margin-right: 25px;
}

@media only screen and (max-width: 1000px) {
  header .buscador {
    display: block;
    margin: 20px auto;
  }
}

.titulos{
	color: white;
}

h3{
	color: white;
	font-size: 18pt;
	margin-bottom: 30px;
	text-shadow: 5px 4px 3px black;
}

.grid-nuevas{
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: 450px 450px;
	grid-column-gap: 40px;
	grid-row-gap: 20px;
}

.grid-div{
	display: grid;
	grid-template-columns: 200px 200px 200px 200px;
	grid-template-rows: 450px 450px;
	grid-column-gap: 40px;
	grid-row-gap: 100px;	
}

.contenedor{
	width: 25%;
	margin: 0px auto;
}

.homeflex{
	width: 80%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

figure img{
	margin: 0px auto;
    border-radius: 5px;
    -webkit-transition:-webkit-transform 0.2s ease-in-out 0.1s;   
}

figure img:hover{
    -webkit-transform: scale(1.2);
}

.flexPadre{
	display: flex;
	justify-content: center;		
}

.videos{
	width: 100%;
	text-align: center;
	box-shadow: 10px 5px 10px;
}

.section{
	margin-top: 150px;
}

th{
	color: white;
}

tr{
	color: white;
}

aside{	
	color: white;
	width: 12%;	
}

.menu-item {
    position: relative;
}

.menu-item:hover .submenu {
    display:block;     
}

.submenu {
    position: absolute;
    left: 0px;
    z-index: 1;
    display: none;
    background: #C0C0C0;
    color: #fff;
    padding: 0;
}

.submenu li {
    display: block;
    padding: 10px;
}

blockquote{
	text-align: center;
}

.divforms{
	width: 50%;
	margin: 0px auto;
}
.forms_letras{
	color: white;
}

p{
	text-align: center;
	width: 73%;
	margin: 0px auto;	
}

footer{
	background-color: black;
	color: white;
	border: 1px solid grey;
	margin-top: 100px;
	margin-bottom: 50px;
	border-radius: 15px;*/
}
								/*Style Guitarras*/

.centrar{
	margin: 0px auto;	
}

.hs{
	color: white;
}

.imagenUsada{
	text-align: center;
}

.flexsection{
	display: grid;
	grid-template-columns: 300px 300px 600px;
	grid-column-gap: 170px;
	align-items: center;	
}

.maps{
	width: 350px;
	height: 300px;
	border-radius: 10px;
}

.liColor{
	color: red;
}

.banner {
  width: 100%;
  max-width: 980px;
}

.navbar .dropdown-menu {
  background-color: #5a5a5a;
  text-align: center;
}

/* and this styles the dropdwon trigger link, when open */
.navbar .dropdown.show a { 
  background-color: #5a5a5a;
}

.navbar .nav-item {
  margin-right: 0;
}

.navbar .dropdown-item {
  color: #fff;
}

.navbar.bottom-space{
	margin-bottom: 20px;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: #7e7e7e
}

.youtube-video {
  max-width: 560px;
  width: 100%;
  height: 315px;
}

@media only screen and (max-width: 960px) {
	.homeflex {
    flex-direction: column;
    width: 100%;
  }

  .homeflex .contenedor {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
  }

	.grid-nuevas{
		display: flex;
		flex-direction: column;	
		text-align: center;
		width: 100%;
  }
	.flexsection{
		display: flex;
		flex-direction: column;
		width: 100%;	
	}
}

